# specific
browser_exe

# normal stuff
.venv

# ignore build artifacts
*.egg-info/
build/
__pycache__

# editor files
*.sw*

# ipynb
.ipynb_checkpoints/

# builds
results/*
!results/placeholder
dist/
